*{
    margin: 0;
    padding: 0;
}

body{
    background: #f5f5f5;
}

.clearfix:after{
    content: '';
    clear: both;
    display: block;
}

.content{
    width: 1600px;
    margin: 0 auto;
}

body > *{
    display: grid;
}

header > div{
    padding: 13px 204px 33px;
    box-sizing: border-box;
}

header > div img.logo{
    float: left;
    padding: 20px 0 22px;
}

header > div aside{
    float: right;
    margin-bottom: 10px;
}

header > div aside > *{
    display: inline-block;
    padding: 20px 0 20px 70px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 51px 51px;
}

header > div aside > *:not(:first-child){
    margin-left: 45px;
}

header > div aside .time{
    background-image: url(../img/time.png);
}

header > div aside .mail{
    background-image: url(../img/mail.png);
}

header > div aside .phone{
    background-image: url(../img/phone.png);
}

header > div aside p, header aside span{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

header > div aside p{
    font-weight: 700;
}

header > div hr{
    width: calc(100% - 14px);
    height: 2px;
    background-color: #c2c2c2;
    opacity: 0.31;
    margin: 0 auto 33px;
}

header > div nav ul{
    list-style-type: none;
    float: left;
}

header > div nav ul li{
    display: inline-block;
}

header > div nav ul li a{
    color: #6c6c6c;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    padding: 0 11px;
}

header > div nav ul li.active a,
header > div nav ul li:hover a{
    color: #262626;
}

header > div .socials{
    float: right;
    background-image: url(../img/socials.png);
    width: 213px;
    height: 24px;
    display: block;
}



.banner{
    background: #cbd3e6;
}

.banner > div{
    width: 1600px;
    height: 640px;
    margin: 0 auto;
    background-image: url('../img/banner.jpg'), radial-gradient(circle at 525px 50%, rgba(255,255,255,.74) 20%, rgba(255,255,255,0) 45%);
    background-size: cover;
    background-blend-mode: hard-light;
    
    padding: 180px 250px;
    box-sizing: border-box;
    
    position: relative;
}


.banner > div article {
    width: 530px;
    text-align: center;
}

.banner > div article h2{
    color: #474747;
    font-family: Montserrat;
    font-size: 46px;
    font-weight: 500;
    letter-spacing: -1.19px;
    margin-bottom: 37px;
}

.banner > div article p{
    color: #3f3f3f;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 42px;
}

.banner > div article a{
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    border-radius: 27px;
    color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    padding: 16px 28px;
    text-decoration: none;
}

.banner > div .minilogo{
    position: absolute;
    width: 125px;
    height: 25px;
    left: 820px;
    bottom: 76px;
}



.cathegories{
    background: -webkit-linear-gradient(left, #43b1d2, #43b1d2 50%, #37c3a8 50%, #37c3a8);
    background: -o-linear-gradient(left, #43b1d2, #43b1d2 50%, #37c3a8 50%, #37c3a8);
    background: linear-gradient(to right, #43b1d2, #43b1d2 50%, #37c3a8 50%, #37c3a8);
}

.cathegories > div{
    display: grid;
    grid-template-rows: minmax(360px, auto);
    grid-template-columns: repeat(4, 1fr);
}

.cathegories > div > article{
    padding: 170px 75px 0;
    box-sizing: border-box;
    background-color: #43b1d2;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 75px;
}

.cathegories > div > article h3{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.82px;
    margin-bottom: 15px;
}

.cathegories > div > article p{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.cathegories > div > article.cath_1{
    background-color: #43b1d2;
    background-image: url(../img/cath_1.png);
}

.cathegories > div > article.cath_2{
    background-color: #3fb6c6;
    background-image: url(../img/cath_2.png);
}

.cathegories > div > article.cath_3{
    background-color: #3cbbbb;
    background-image: url(../img/cath_3.png);
}

.cathegories > div > article.cath_4{
    background-color: #37c3a8;
    background-image: url(../img/cath_4.png);
}



.reasons > div{
    display: grid;
    width: 1200px;
    grid-template-columns: repeat(3, 340px);
    grid-template-rows: repeat(3, 300px);
    grid-column-gap: calc(50% - 510px);
    margin: 0 auto;
}

.reasons > div article:first-child{
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 110px;
    text-align: center;
}

.reasons > div article:first-child h2{
    color: #494949;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 31px;
}

.reasons > div article:first-child p{
    width: 880px;
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto;
}

.reasons > div article:not(:first-child){
    padding: 50px 0;
}

.reasons > div article h3{
    color: #6f6f6e;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.82px;
    padding: 25px 0 25px 95px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: left center;
}

.reasons > div article p{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.reasons > div div{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url(../img/woman.png);
    background-position: center bottom;
    background-size: cover;
}

.reasons > div article.reason_1 h3{
    background-image: url(../img/reason_1.png);
}

.reasons > div article.reason_2 h3{
    background-image: url(../img/reason_2.png);
}

.reasons > div article.reason_3 h3{
    background-image: url(../img/reason_3.png);
}

.reasons > div article.reason_4 h3{
    background-image: url(../img/reason_4.png);
}



.rates{
    background: url(../img/rates_bg.png), #0081b9;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.rates > div{
    padding: 155px 250px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 165px);
    grid-template-rows: 280px;
    grid-column-gap: 160px;
}

.rates > div article{
    padding-top: 125px;
    text-align: center;
    box-sizing: border-box;
    background-position: center top;
    background-repeat: no-repeat;
}

.rates > div article h3{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -1.19px;
}

.rates > div article hr{
    width: 84px;
    height: 6px;
    margin: 26px auto;
    background-color: #fff;
}

.rates > div article p{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1.52px;
}

.rates > div article.rates_1{
    background-image: url(../img/rates_1.png);
}

.rates > div article.rates_2{
    background-image: url(../img/rates_2.png);
}

.rates > div article.rates_3{
    background-image: url(../img/rates_3.png);
}

.rates > div article.rates_4{
    background-image: url(../img/rates_4.png);
}




.news > div{
    display: grid;
    grid-template-columns: repeat(2, 335px) 425px;
    grid-template-rows: minmax(175px, auto) minmax(420px, auto);
    grid-column-gap: 40px;
    grid-row-gap: 55px;
    width: 1200px;
    margin: 0 auto;
    padding: 100px;
}

.news > div article:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
}

.news > div article h3{
    color: #494949;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 38px;
}

.news > div article p{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.news > div article:nth-child(2),
.news > div > div.list{
    padding-left: 20px;
}

.news > div > div:not(:nth-child(6)) h4 {
    margin: 35px 0 15px;
    color: #6f6f6e;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1.21px;
}

.news > div > div:not(:nth-child(6)) span{
    color: #0087be;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.38px;
}

.news > div > div:not(:nth-child(6)) p{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
}

.news > div > div:last-child{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.news > div > div > a.button{
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #0087be;
    padding: 15px 26px;
    color: #ffffff;
    font-family: Lato;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    border-radius: 25px;
    text-decoration: none;
}

.news > div .list .header{
    width: 420px;
    height: 52px;
    padding: 13px 65px;
    box-sizing: border-box;
    background: #e2e2e2;
    border-radius: 27px;
    margin-bottom: 12px;
    color: #494949;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.news > div .list .header:before{
    content: '►';
    position: absolute;
    left: 6px;
    top: 6px;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: #0087be;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
}

.news > div .list .header.active{
    background: #0087be;
    color: #fff;
}

.news > div .list p{
    margin: 20px 0 40px;
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
}


.gallery{
    background: url(../img/gallery_bg.png), #2fb39b;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.gallery > div{
    padding: 94px calc(50% - 550px);
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(3, 344px);
    grid-template-rows: repeat(3, 209px);
    grid-column-gap: 34px;
    grid-row-gap: 38px;
    /*background: url(../img/gallery_bg.png), #2fb39b;
    background-blend-mode: multiply;*/
}

.gallery > div div{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.gallery > div div h3{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 38px;
}

.gallery > div div p{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}


.team > div{
    padding: 150px 0 135px;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 279px);
    grid-template-rows: minmax(135px, auto) minmax(425px, auto);
    grid-column-gap: 29px;
    grid-row-gap: 84px;
    margin: 0 auto;
}

.team > div article{
    text-align: center;
}

.team > div article:first-child{
    grid-column-start: 1;
    grid-column-end: 5;
}

.team > div article:first-child h3{
    color: #494949;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 50px;
}

.team > div article:first-child p{
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.team > div article img{
    border-radius: 50%;
}

.team > div article:not(:first-child) h4{
    color: #6f6f6e;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    margin-top: 29px;
}

.team > div article:not(:first-child) p{
    color: #6f6f6e;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1.09px;
    margin: 15px 0 32px;
}

.team > div article:not(:first-child) .contacts{
    width: 109px;
    height: 24px;
    display: block;
    background: url(../img/team_contacts.png);
    margin: 0 auto;
}



.offer{
    background: #e2e2e2;
}

.offer > div{
    padding: 80px 215px 65px;
    background-color: #e2e2e2;
}

.offer > div p{
    float: left;
    color: #494949;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
}

.offer > div a{
    float: right;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #0087be;
    color: #ffffff;
    font-family: Lato;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    padding: 19px 32px;
    text-decoration: none;
    border-radius: 31px;
    margin-top: -10px;
}


footer{
    background: #171717;
}

footer > div{
    padding: 116px calc(20px + 50% - 580px) 108px;
    background: #171717;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer > div article h4{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.55px;
    margin-bottom: 70px;
}

footer > div article ul{
    list-style-type: none;
}

footer > div article:first-child ul li a{
    opacity: 0.51;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-decoration: none;
}

footer > div article:first-child ul{
    margin-left: 70px;
}

footer > div article:first-child ul li{
    margin-bottom: 51px;
    position: relative;
}

footer > div article:first-child ul li:before{
    content: '';
    position: absolute;
    left: -70px;
    top: 8px;
    display: block;
}

footer > div article:first-child ul li.mail:before{
    background-image: url(../img/footer_mail.png);
    width: 40px;
    height: 31px;
}

footer > div article:first-child ul li.phone:before{
    background-image: url(../img/footer_phone.png);
    width: 27px;
    height: 40px;
}

footer > div article:first-child ul li.address:before{
    background-image: url(../img/footer_map.png);
    width: 38px;
    height: 40px;
}

footer > div article:first-child .socials{
    width: 237px;
    height: 26px;
    background: url(../img/footer_socials.png);
    margin-left: 5px;
}

footer > div article:not(:first-child) ul li a{
    opacity: 0.51;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-decoration: none;
    padding-left: 30px;
    position: relative;
}

footer > div article:not(:first-child) ul li a:before{
    content: '►';
    position: absolute;
    color: #0087be;
    left: 3px;
}

footer > div article:not(:first-child) ul li{
    margin: 10px 0;
}

footer > div form input:not([type="submit"]),
footer > div form textarea{
    background: transparent;
    border: 0;
    opacity: 0.51;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    border-bottom: 1px solid rgba(194, 194, 194, .42);
    width: 231px;
    outline: none;
    padding-bottom: 10px;
}

footer > div form textarea{
    height: 90px;
    resize: none;
}

footer > div form input:not([type="submit"]){
    height: 32px;
}

footer > div form [type="submit"]{
    margin-top: 24px;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #0087be;
    padding: 12px 36px; 
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    border: 0;
    border-radius: 20px;
}

.copyright{
    background-color: #1a1a1a;
}

.copyright > div{
    padding: 55px 0;
    text-align: center;
    color: #615555;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.33px;
    background-color: #1a1a1a;
}


@media all and (max-width: 1200px){
    body > *:before,
    body > *:after{
        content: '';
    }
    
    body > *{
        grid-template-columns: calc(50% - 400px) 800px;
    }
    
    header > div{
        padding: 13px 4px 33px;
        text-align: center;
    }
    
    header > div nav ul,
    header > div img.logo{
        float: none;
    }
    
    header > div aside,
    header > div .socials{ 
        display: none; 
    }
    
    .banner > div {
        width: 800px;
        height: 640px;
        margin: 0 auto;
        background-image: radial-gradient(circle at 50% 50%, rgba(255,255,255,.74) 50%, rgba(255,255,255,0) 80%);
        background-size: cover;
        background-blend-mode: hard-light;
        padding: 180px 0px;
        box-sizing: border-box;
        position: relative;
    }
    
    .banner > div article{
        margin: 0 auto;
    }
    
    .banner > div img{
        display: none;
    }
    
    .cathegories {
        background: -webkit-linear-gradient(#43b1d2, hsla(200, 61%, 54%, 1) 50%, hsla(190, 56%, 49%, 1) 50%, #37c3a8);
        background: -o-linear-gradient(#43b1d2, hsla(200, 61%, 54%, 1) 50%, hsla(190, 56%, 49%, 1) 50%, #37c3a8);
        background: linear-gradient(#43b1d2, hsla(200, 61%, 54%, 1) 50%, hsla(190, 56%, 49%, 1) 50%, #37c3a8);
    }
    
    .cathegories > div > article{
        padding: 170px 75px 40px;
    }
    
    .cathegories > div{
        grid-template-rows: repeat(2, minmax(360px, auto));
        grid-template-columns: repeat(2, 1fr);
    }
    
    .reasons > div {
        display: grid;
        width: 800px;
        grid-template-columns: repeat(2, 340px);
        grid-template-rows: repeat(3, minmax(300px, auto));
        grid-column-gap: calc(50% - 280px);
        margin: 0 auto;
    }
    
    .reasons > div article h3 {
        padding: 95px 0 25px;
        background-position: center top;
        text-align: center;
    }
    
    .reasons > div article p {
        text-align: center;
    }
    
    .reasons > div article:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .reasons > div article:first-child p {
        width: auto;
    }
    
    .reasons > div  > div{
        display: none;
    }
    
    .rates > div {
        grid-template-columns: repeat(2, 365px);
        grid-template-rows: repeat(2, 280px);
        grid-column-gap: calc(100% - 730px);
        grid-row-gap: 130px;
        padding: 155px calc(10px + 50% - 390px);
    }
    
    .team > div {
        padding: 150px 0 135px;
        width: 800px;
        display: grid;
        grid-template-columns: 77.5px repeat(2, 279px) 77.5px;
        grid-template-rows: minmax(135px, auto) minmax(425px, auto);
        grid-column-gap: 29px;
        grid-row-gap: 84px;
        margin: 0 auto;
    }
    
    .team > div article:first-child {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    
    .team > div article:nth-child(2),
    .team > div article:nth-child(4){
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .team > div article:nth-child(3),
    .team > div article:nth-child(5){
        grid-column-start: 3;
        grid-column-end: 4;
    }
    
    .offer > div{
        text-align: center;
        padding: 80px 15px 65px;
    }
    
    .offer > div p{
        margin-bottom: 50px;
    }
    
    .offer > div p,
    .offer > div a{
        float: none;
    }
    
    .gallery > div {
        padding: 94px calc(20px + 50% - 380px);
        width: 800px;
        display: grid;
        grid-template-columns: repeat(2, 344px);
        grid-template-rows: minmax(209px, auto) repeat(3, 209px);
        grid-column-gap: 34px;
        grid-row-gap: 38px;
    }
    
    .gallery > div div {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .news > div {
        grid-template-columns: 35px 5px repeat(2, 335px) 5px 35px;
        grid-template-rows: repeat(2, minmax(175px, auto)) minmax(420px, auto);
        grid-column-gap: 10px;
        grid-row-gap: 55px;
        width: 800px;
        margin: 0 auto;
        padding: 100px 0;
    }
    
    .news > div > div.list,
    .news > div article:first-child,
    .news > div article:nth-child(2){
        grid-column-start: 2;
        grid-column-end: 6;
        padding: 0;
    }
    
    .news > div div:nth-child(3){
        grid-column-start: 3;
        grid-column-end: 4;
    }
    
    .news > div div:nth-child(4){
        grid-column-start: 4;
        grid-column-end: 5;
    }
    
    .news > div .list .header {
        width: 100%;
    }
    
    .news > div > div:last-child {
        grid-column-start: 1;
        grid-column-end: 7;
        text-align: center;
    }
    
    footer > div{
        grid-template-columns: 1fr 1fr;
    }
    
    footer > div article{
        text-align: center;
    }
    
    footer > div article:first-child,
    footer > div article:last-child{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    footer > div article:nth-child(2),
    footer > div article:nth-child(3){
        margin-bottom: 40px;
    }
    
    footer > div article:nth-child(2) ul,
    footer > div article:nth-child(3) ul{
        width: 50%;
        margin: 0 auto;
        text-align: left;
    }
    
    footer > div article:first-child ul{
        margin-left: 0;
    }
    
    footer > div article:first-child ul li {
        margin-bottom: 75px;
    }
    
    footer > div article:first-child ul li:before {
        top: -45px;
    }
    
    footer > div article:first-child ul li.mail:before {
        left: calc(50% - 20px);
        top: -45px;
    }
    
    footer > div article:first-child ul li.phone:before {
        left: calc(50% - 13.5px);
        top: -45px;
    }
    
    footer > div article:first-child ul li.address:before {
        left: calc(50% - 19px);
        top: -45px;
    }
    
    footer > div article:first-child .socials{
        display: none;
    }
    
    footer > div form input:not([type="submit"]),
    footer > div form textarea{
        width: 100%;
    }
}


@media all and (min-width: 1200px) and (max-width: 1600px){
    body > *:before,
    body > *:after{
        content: '';
    }
    
    body > *{
        grid-template-columns: calc(50% - 600px) 1200px;
    }
    
    header > div{
        padding: 13px 4px 33px;
        text-align: center;
    }
    
    header > div nav ul,
    header > div img.logo{
        float: none;
    }
    
    header > div aside,
    header > div .socials{ 
        display: none; 
    }
    
    .cathegories {
        background: -webkit-linear-gradient(#43b1d2, hsla(200, 61%, 54%, 1) 50%, hsla(190, 56%, 49%, 1) 50%, #37c3a8);
        background: -o-linear-gradient(#43b1d2, hsla(200, 61%, 54%, 1) 50%, hsla(190, 56%, 49%, 1) 50%, #37c3a8);
        background: linear-gradient(#43b1d2, hsla(200, 61%, 54%, 1) 50%, hsla(190, 56%, 49%, 1) 50%, #37c3a8);
    }
    
    .cathegories > div{
        grid-template-rows: repeat(2, minmax(360px, auto));
        grid-template-columns: repeat(2, 1fr);
    }
    
    .rates > div{
        grid-template-columns: repeat(2, 165px);
        grid-template-rows: repeat(2, 280px);
        grid-column-gap: calc(100% - 330px);
        grid-row-gap: 130px;
    }
    
    .offer > div{
        text-align: center;
    }
    
    .offer > div p{
        margin-bottom: 50px;
    }
    
    .offer > div p,
    .offer > div a{
        float: none;
    }
    
    .news > div{
        grid-template-columns: 65px 50px repeat(2, 335px) 50px 65px;
        grid-template-rows: repeat(2, minmax(175px, auto)) minmax(420px, auto);
        grid-column-gap: 60px;
        grid-row-gap: 55px;
        width: 1200px;
        margin: 0 auto;
        padding: 100px 0;
    }
    
    .news > div > div.list,
    .news > div article:first-child,
    .news > div article:nth-child(2){
        grid-column-start: 2;
        grid-column-end: 6;
        padding: 0;
    }
    
    .news > div div:nth-child(3){
        grid-column-start: 3;
        grid-column-end: 4;
    }
    
    .news > div div:nth-child(4){
        grid-column-start: 4;
        grid-column-end: 5;
    }
    
    .news > div .list .header {
        width: 100%;
    }
    
    .news > div > div:last-child {
        grid-column-start: 1;
        grid-column-end: 7;
        text-align: center;
    }
}


@media all and (min-width: 1600px){
    body > *:before,
    body > *:after{
        content: '';
    }
    
    body > *{
        grid-template-columns: calc(50% - 800px) 1600px;
    }
    
    body > section.reasons{
        grid-template-columns: calc(50% - 600px) 1200px;
    }
    
    .cathegories > div{
        grid-template-rows: minmax(360px, auto);
        grid-template-columns: repeat(4, 1fr);
    }
    
    .rates > div{
        grid-template-columns: repeat(4, 165px);
        grid-template-rows: 280px;
        grid-column-gap: 160px;
    }
}